.useritems-container{
   width: auto;
   display: flex;
   // background: blue;
   justify-content: flex-end;
   align-items: center;
   // border:1px solid red;

   img {
      width: 40px;
   }

   label{
      width: fit-content;
      margin: 0 0 5px 10px;
      font-size: 1rem;
      padding: 10px;
      border-radius: 5px;
      background: #321123;

   }
}