body {
  margin: 0;
  font-family: Barlow, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
   font-family: Allura;
   src:  url('./assets/fonts/Allura/Allura-Regular.ttf');
}

@font-face {
   font-family: Barlow;
   src: url('./assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf');
}

@font-face {
   font-family: Russo;
   src: url('./assets/fonts/Russo_One/RussoOne-Regular.ttf');
}
